@font-face{
	font-family:'Roboto';
	src: url('robotoregular.ttf');
}

#imgDiv{
	position: fixed;
	z-index: -2	;
	opacity: 0.2;
	width: 100%;
	margin-top: 8%;
}



body{
	font-family: 'Roboto';
	text-align: center;

}

h1,h3{
	font-family: 'Roboto';
	text-align: center;
}

div{
	text-align: center;
}